
* {
    padding: 0;
    margin: 0;
    
}

html {
    font-family: Arial;
}

#main {

    padding-left: 280px;
    width: 800px;
    height: auto;
}

#header {
    width: 1000px;
    height: 200px;
    background-color: rgb(32, 86, 172);
}

#header .heading .text-header {
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-weight: 550;
    font-size: 25px;
}

i.fa.fa-cog {
    padding-top: 27px;
    font-size: 40px;
    color: #fff;
    text-align: center;
    width: 100%;
}
ul.nav {
    padding-top: 31px;
    float: left;
    text-decoration: none;
    margin-left: 265px;
}

ul.nav a:hover {
    display: inline-block;
    background-color: #fff;
    color: rgb(32, 86, 172);
    border-radius: 3px;
}

li {
    *text-decoration: none;*
    
}

li {
    list-style: none;
    float: left;
}

a {
    text-decoration: none;
    color: #fff;
    line-height: 5;
    padding: 0px 10px;
    text-transform: uppercase;
    font-size: 12px;
    
}

#content {
    padding-left: 75px;
    width: 800px;
}

img {
    text-align: center;
    width: 800px;
    padding-left: 25px;
    margin-top: 20px;
}

h2.section-heading {
    font-size: 30px;
    text-align: center;
    padding-top: 60px;
    margin-left: 40px;
    font-weight: 700;
}

p.section-sub-heading {
    margin-top: 33px;
    font-size: 12px;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 20px;
    margin-left: 40px;
}

u {
    color: #895cc5;
}

#content-one {
    width: 1000px;
    height: 170px;
    background-color: rgb(22, 240, 237);
}

div#content-one {
    text-align: center;
    float: left;
}

.contact-map {
    float: left;
    margin-left: 135px;
    padding-top: 30px;
    font-size: 13px;
    color: rgba(27, 27, 24, 0.7);
    
}

i.fa.fa-map-marker {
    font-size: 40px;
    padding-bottom: 30px;
}

.contact-phone {
    float: left;
    padding-top: 30px;
    margin-left: 100px;
    font-size: 13px;
    color: rgba(27, 27, 24, 0.7);
}

i.fa.fa-phone {
    font-size: 40px;
    padding-bottom: 30px;
}

.contact-mail {
    float: left;
    padding-top: 30px;
    margin-left: 110px;
    font-size: 13px;
    color: rgba(27, 27, 24, 0.7);
}

i.fa.fa-envelope-o {
    font-size: 40px;
    padding-bottom: 30px;
}


#footer {
   background-color: rgb(32, 86, 172);
   width: 1000px;
   padding-top: 350px;
}

img.img1 {
    width: 1000px;
    height: 228px;
    margin-left: -25px;
    margin-top: -183px;
}

p.text-footer {
    margin-top: -139px;
    text-align: center;
    color: rgba(240, 247, 245, 0.7);
    font-size: 12px;
}

.footer-item {
    padding-left: 50px;
    margin-top: -75px;
    padding-top: -62px;
}

i.fa.fa-twitter {
    margin-left: 358px;
    padding: 6px 8px;
    font-size: 20px;
    color: #fff;
    background-color: #638eb9;
}

i.fa.fa-facebook {
    padding: 6px 12px;
    font-size: 20px;
    color: #fff;
    background-color: #638eb9;
    
}

i.fa.fa-rss {
     margin-left: 0px;
     padding: 6px 10px;
     font-size: 20px;
     color: #fff;
     background-color: #638eb9;
}

img.social-1 {
    margin-right: 1px;
    margin-bottom: -9px; 
    padding: 6px -81px;
    width: 36px;
    height: 32px;
    margin-top: 30px;
    padding-left: 0px;
}

img.social-2 {
    width: 35px;
    height: 32px;
    margin-left: -26px;
    margin-bottom: -9px;
 
}